body {
    font-family: Arial, sans-serif;
    background-color: aqua;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    color: #fff;
}

h1 {
    color: #ff5555;
    
}

input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ff5555;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
}

button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #ff5555;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff3333;
}

#message {
    margin-top: 15px;
    font-weight: bold;
    color: #fff;
}